<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Lista de Contratos</title>
</head>
<body>

<div class="container mt-3">
    <h2 class="mb-4 text-center">Lista de Contratos</h2>

    <!-- Formulario de búsqueda -->
    <form th:action="@{/contratos}" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="buscarContratos" class="form-control" placeholder="Buscar contratos" th:value="${buscarContratos}">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>

    <!-- Tabla de contratos -->
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Contrato</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Estado</th>
            <th>Pago</th>
            <th>Cliente</th>
            <th>Prestaciones</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contrato : ${contratos}">
            <td th:text="${contrato.id}"></td>
            <td th:text="${contrato.nombreContrato}"></td>
            <td th:text="${contrato.fechaInicio}"></td>
            <td th:text="${contrato.fechaFin}"></td>
            <td th:text="${contrato.estado}"></td>
            <td th:text="${contrato.pago}"></td>
            <td th:text="${contrato.cliente.nombre}"></td>
            <td th:text="${contrato.prestaciones.nombre}"></td>

            <td>
                <a th:href="@{/actualizarContratos/} + ${contrato.id}" class="btn btn-warning">Actualizar</a>
                <a th:href="@{/eliminarContratos/} + ${contrato.id}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Botones de acciones -->
    <a th:href="@{/formularioContratos}" class="btn btn-success">Nuevo Contrato</a>
    <a th:href="@{/generarPdf}" class="btn btn-danger">Descargar PDF</a>
</div>

</body>
</html>
