<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancers Calificados</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/carrusel.css}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <nav>
        <a href="#" class="logo">workana</a>
        <ul>
            <li><a href="#contratar" class="btn quiero">Quiero contratar</a></li>
            <li><a href="#trabajar" class="btn trabajar">Quiero trabajar</a></li>
        </ul>
        <div class="buttons">
            <a href="#" class="btn login">Ingresa</a>
            <a href="#" class="btn register">Regístrate</a>
        </div>
    </nav>
</header>

<!-- Sección Hero -->
<section class="hero">
    <div class="text-content">
        <p class="small-text">
            <span>✔ Publicar es gratis</span> <span>✔ Garantía de satisfacción</span>
            <span>✔ Pagos protegidos</span>
        </p>
        <h1><span class="highlight">Expertos en plomería y electricidad</span> listos para ayudarte <span
                class="highlight">cuando lo necesites</span></h1>
        <p class="description">
            Encuentra profesionales calificados en plomería, electricidad, carpintería, pintura y más. Solicita
            servicios de manera rápida, segura y confiable para tu hogar o negocio. </p>

    </div>
    <div class="image-content">
        <img th:src="@{/css/3.jpg}" alt="Imagen de ejemplo">
    </div>
</section>

<!-- Título antes del carrusel -->
<section class="profesionales-titulo">
    <h2>¿Con qué profesionales contamos?</h2>
    <p>Descubre a los expertos disponibles para ayudarte en tus proyectos.</p>
</section>

<!-- Sección del Carrusel -->
<section>
    <div class="container">
        <div class="content">
            <div class="introduce"></div>
            <div class="thumbnail-list">
                <div class="wrapper">
                    <!-- Contenido del carrusel aquí -->
                </div>
            </div>
        </div>

        <div class="navigation">
            <button class="next-button"></button>
            <span class="line"></span>
            <span class="ordinal-number"></span>
        </div>
    </div>
</section>

<!-- Otra sección -->
<section>
    <div>
        <h1 class="title">Contrata a un profesional</h1>
    </div>
</section>

<script th:src="@{/css/js/carru.js}"></script>
</body>

</html>