<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
    <link rel="stylesheet" th:href="@{css/index.css}">
    <title>index</title>
</head>
<body>
<body>

<nav class="navbar">
    <div class="logo">Mi Marketplace</div>
    <ul class="nav-links">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Proveedores</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>Encuentra y contrata profesionales fácilmente</h1>
    <p>Plomeros, electricistas, carpinteros y más, disponibles para ayudarte.</p>
    <a href="#" class="btn">Explorar Servicios</a>
</section>

</body>
</html>